*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body
{
   
    justify-content: center;
    align-items: center;
    background: url('image/bgimage.jpeg')no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x:hidden;
    
    
}

.navbar-brand
{
    font-size: 3rem;
    color: black;
    font-family: 'Dancing Script', cursive;
    margin-left: 549px;
}

.navbar-brand:hover
{
    color: black;
}

.nav-link
{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Old Standard TT', serif;
}

.nav-link:hover
{
    color: black;
}

.search
{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    outline: none;
    margin-right: -40px;
    border: 2px solid black;
    font-family: 'Old Standard TT', serif;
}

.btn0
{
    height: 40px;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-weight:700;
    font-family: 'Old Standard TT', serif;
}

.btn1
{
    height: 20px;
    width: 20%;
    margin: 2px;
    padding-bottom: 26px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-weight:300;
}

.main
{
    background: url(./fooood2.jpg)no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: 50% 50%;
    width: 100%;
    color: black;
    /* background-color: rgba(255, 255, 255, 0.7); */
    opacity: 80%;
}

.main h1
{
    font-size: 4rem;
    font-weight: 700;
}

.footer
{
    background-color: black;
    color: white;
}

.btn2
{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -102px;
    border: 2px solid white;
    font-weight: 600;
}

.footer input
{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black ;
    color: white;
    margin-top: 20px;
}

.footer::placeholder
{
    color: white;
}

.footer p
{
    margin: 0;
}

.about
{
    text-decoration: none;
    color: white;
}

.fab
{
    font-size: 1.5rem;
}
div.card 
{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid1{
/* background: #98FB98; */
padding-top: 30px;
padding-bottom: 30px;
border-radius: 20px;

}
.ams {
padding:15px;

	color: white;

}
.carousel-inner {
   position: relative;
    width: 253px;
    height: 208px;
    overflow: hidden;
    margin-left: 5px;
    margin-top:-40px;
}

.carousel-control-prev 
{
    left: 19px;
}
.carousel-control-next 
{
    right: -127px;
}
.card-body
{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border: 1px solid #ccc; */
}
.left-button, .right-button {
    padding: 5px 10px;
    border-radius: 12px;
}

.left-button:hover
{
    background-color: lightgreen;
}
.right-button:hover{
    background-color: lightcoral;
}
.right-button {
    margin-left: 142px; /* Change the order to move it to the right */
}
.nav-item
{
    margin-left: 236px ;
    
}


/* NGO HOME PAGE POP MESSAGE  */
.popup {
    display: none;
    position: fixed;
    z-index: 9999; /* Ensure the popup is on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Semi-transparent background */
}

.popup-content-1 {
    margin-left: 3px;
    margin-top: 13px;
    padding: 20px;
    border: 1px solid #888;
    width: 211px;
    border-radius: 57px;
    background-color: aliceblue;
    color: black;
    height: 67px;
   
    /* font-family: 'Dancing Script', cursive; */
    
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#welcomeMessage
{
    border: 2px solid black;
    width: 191px;
    height: 50px;
    border-radius: 24px;
    padding-left: 23px;
    margin-left: 15px;
    font-size: larger;
    background-color: aliceblue;
    margin-top: 11px;
    padding-top: 7px;
    font-family: "Playfair_Display variant1", Tofu;
    font-style: italic;
}