*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body
{
   
    justify-content: center;
    align-items: center;
    background: url('image/bgimage.jpeg')no-repeat;
    background-size: cover;
    background-position: center;
}

.userbox
 {
    border: 2px solid rgba(89, 103, 118, 0.5);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgb(0 0 0 .5);
    /* background-color: rgb(226 231 243); */
    background: transparent;
    margin: 70px auto;
    margin-top: 20px;
    width: 600px;
    height: 633px;
    padding: 20px 22px;
}
.navbar-brand
{
    font-size: 3rem;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.navbar-brand:hover
{
    color: black;
}

.nav-link
{
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Old Standard TT', serif;
}

.nav-link:hover
{
    color: black;
}
.nav-item
{
    margin-left: 798px;
    
}
.nav-item1
{
    margin-right: 762px ;
} 
.search
{
    height: 40px;
    width: 80%;
    border-radius: 10px;
    outline: none;
    margin-right: -40px;
    border: 2px solid black;
    font-family: 'Old Standard TT', serif;
}

.btn0
{
    height: 40px;
    width: 40%;
    border-radius: 10px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-weight:700;
    font-family: 'Old Standard TT', serif;
}

.btn1
{
    height: 20px;
    width: 20%;
    margin: 2px;
    padding-bottom: 26px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: black;
    color: white;
    font-weight:300;
}

.main
{
    background: url(./fooood2.jpg)no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: 50% 50%;
    width: 100%;
    color: black;
    /* background-color: rgba(255, 255, 255, 0.7); */
    opacity: 80%;
}

.main h1
{
    font-size: 4rem;
    font-weight: 700;
}

.footer
{
    background-color: black;
    color: white;
}

.btn2
{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -102px;
    border: 2px solid white;
    font-weight: 600;
}

.footer input
{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black ;
    color: white;
    margin-top: 20px;
}

.footer::placeholder
{
    color: white;
}

.footer p
{
    margin: 0;
}

.about
{
    text-decoration: none;
    color: white;
}

.fab
{
    font-size: 1.5rem;
}
.img-thumbnail
{
    height: 80%;
    width: 30%;
}
.row
{
    border-radius: 20px;
}

.event-form
{
	margin-left:156px;
	color:white;
}

/* pop up css */
.popup {
    display: none;
    position: fixed;
    z-index: 9999; /* Ensure the popup is on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.popup-content {
    margin-left: 620px;
    margin-top: 13px;
    padding: 20px;
    border: 1px solid #888;
    width: 211px;
    border-radius: 57px;
    background-color: aliceblue;
    color: black;
    height: 67px;
    font-family: "Playfair_Display variant1", Tofu;
    font-style: italic;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#welcomeMessage
{
    margin-left: 20px;
    font-size: larger;
}